table{
  width: 1000px;
  text-align: left;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}
tr{
  height: 50px;
  background-color: #26232c;
  color: #807a84;
  border-bottom: solid 3px #18171c;
  vertical-align: top;
  font-size: 14px;
}
th{
  background-color: #18171c;
  color: #dcdadf;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
}
td{
  padding: 15px;
}
td div:nth-child(2){
  color: #dcdadf;
  font-size: 12px;
}
table tr:nth-child(6){
  background-color: #2e2c39;
  color: #dcdadf;
}
table tr:nth-child(3){
  background-color: #2e2c39;
  color: #dcdadf;
}